@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hidden {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scrollbar-yellow::-webkit-scrollbar {
        background-color: #fff;
        width: 0.5rem;
    }

    .scrollbar-yellow::-webkit-scrollbar-thumb {
        background-color: #fef3c7;
        border-radius: 20px;
    }
}